*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
}


.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.col-1{
    flex-basis: calc((100% / 12) * 1);
    max-width: calc((100% / 12) * 1);
}

.col-5{
    flex-basis: calc((100% / 12) * 5);
    max-width: calc((100% / 12) * 5);
}

.col-12, .col12{
    flex-basis: calc((100% / 12) * 12);
    max-width: calc((100% / 12) * 12);
}

.col-8, .col8{
    flex-basis: calc((100% / 12) * 12);
    max-width: calc((100% / 12) * 8);
}

.col-2, .col2{
    flex-basis: calc((100% / 12) * 12);
    max-width: calc((100% / 12) * 2);
}

.col-6, .col6{
    flex-basis: calc((100% / 12) * 12);
    max-width: calc((100% / 12) * 6);
}

.col-11, .col11{
    flex-basis: calc((100% / 12) * 12);
    max-width: calc((100% / 12) * 11);
}

.col-10, .col10{
    flex-basis: calc((100% / 12) * 12);
    max-width: calc((100% / 12) * 10);
}

.col-3, .col3{
    flex-basis: calc((100% / 12) * 12);
    max-width: calc((100% / 12) * 3);
}

.col-4, .col4{
    flex-basis: calc((100% / 12) * 12);
    max-width: calc((100% / 12) * 4);
}

.col-9, .col9{
    flex-basis: calc((100% / 12) * 12);
    max-width: calc((100% / 12) * 9);
}

.col-5, .col5{
    flex-basis: calc((100% / 12) * 12);
    max-width: calc((100% / 12) * 5);
}

.col-7, .col7{
    flex-basis: calc((100% / 12) * 12);
    max-width: calc((100% / 12) * 7);
}